.reviews {
  width: 100%;
}

.title {
  margin-bottom: 20px;

  color: var(--color-main);

  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  padding: 16px 16px;

  border-radius: 20px;

  background-color: var(--color-inputs);
  min-height: 180px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;

  margin-bottom: 16px;
}

.avatar {
  background-color: var(--color-white);
  width: 60px;
  height: 60px;
  color: var(--color-button);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  display: flex;
}

.name {
  margin-bottom: 4px;

  color: var(--color-main);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.starActive,
.starInactive {
  width: 16px;
  height: 16px;
}

.starActive {
  color: var(--color-rating);
}

.starInactive {
  color: var(--color-border);
}

.comment {
  margin: 0;

  color: var(--color-text);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.empty {
  color: var(--color-text);

  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .item {
    padding: 16px;
  }
}

@media (max-width: 375px) {
  .item {
    padding: 16px;
  }

  .avatar {
    width: 44px;
    height: 44px;

    flex-basis: 44px;
  }
}
